
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.project-card h2 {
    font-size: 18px;
    margin-top: 0;
    color: #007BFF;
}

.project-card p {
    font-size: 14px;
    color: #333;
}

.project-card a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.project-card a:hover {
    background-color: #0056b3;
    
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    display: block;
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

main {
    min-height: 70vh;
    scroll-behavior: auto;
}

