<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Skills</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />

</head>
<body>
    {%include 'header.html'%}


        <main>
            <section id="experience">
                <p class="section__text__p1">Explore My</p>
                <h1 class="title">Skills</h1>
                <div class="experience-details-container">
                    <div class="about-containers">
                      {% for skill in skills %}
                      <div class="details-container">
                          <h2 class="experience-sub-title">{{skill.title}}</h2>
          
                              <div class="article-container">
                                  {% for s in skill.skills %}
                                  <article>
                                  <img
                                      src="{{ url_for('static', filename='assets/checkmark.png') }}"
                                      alt="Experience icon"
                                      class="icon"
                                  />
                                  <div>
                                      <h3>{{ s }}</h3>
                                      <p>Intermediate</p>
                                  </div>
                                  </article>
                              
                              {% endfor %}
                              </div>
                      </div>
                      {% endfor %}
                  </div>
          </div>
                <!-- <img
                  src="./assets/arrow.png"
                  alt="Arrow icon"
                  class="icon arrow"
                  onclick="location.href='./#projects'"
                /> -->
              </section>
           
    </main>
    

    {% include 'footer.html' %}
</body>
</html>
