<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Skills</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />

</head>
<body>
    {%include 'header.html'%}


    <section>
        <main>
        <h2>Skills</h2>
        <ul class="skills-list">
            {% for skill in skills %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    </main>
    </section>

    <footer>
        <p>&copy; 2023 EYOB</p>
    </footer>
</body>
</html>
